p {
    color: darkslategray;
}

html{
    overflow-x: hidden;
}

.navbar-brand{
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: bold;
}

.btn{
    background: white;
    border-radius: 50px;
    color: #FF6B00;
    border-color: #FF6B00;
    line-height: 1;
}

.btn-primary{
    background: #FF6B00;
    border-radius: 50px;
    color: white;
}

#abstractLine{
    position: relative;
    width: 700px;
    height: 700px;
    left: -90px;
    top: -10px;
    transform: rotate(-20.81deg);
}

#pocketphone{
    position: absolute;
    left: 20%;
    top: 5%;
    size: 80%;
}

#opening-text{
    font-family: 'Quicksand', sans-serif;
    font-size: 45px;
    line-height: 62px;
    color: #000000;
}

.container-opening{
    top: 20%;
}

.container-footer{
    background-color: #C0C0C0;
}

.card{
    border: #FF6B00;
    border-style: solid;
    border-width: thick;
}

.top17 { 
    margin-top:0px; 
}

.container{
    background-color: #F3F3F3;
    border-radius: 118px;
    padding: 30px;
}

.innerwhitebox{
    background-color: #ffffff;
    margin : auto;
    width: 95%;
    border-radius: 51px;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

label{
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 30px;
}

.form-check-input{
    position: relative;
    width: 40px;
    height: 40px;
}

h3{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 50px;  
}

@media (min-width: 768px) { 
    .top17 { 
    margin-top:120px; 
    }
}