<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" integrity="sha384-REHJTs1r2ErKBuJB0fCK99gCYsVjwxHrSU0N7I1zl9vZbggVJXRMsv/sLlOAGb4M" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet"> 
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet"> 
    {% block head %}{% endblock %}
</head>
<body {% block body_attr %}{% endblock %}>
    <nav class="navbar navbar-light navbar-expand-md flex-row">
        <a href="{{ url_for('hello') }}" class="navbar-brand">Price<span style="color: #FF6B00;">Me</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-2">
                    <a class="btn {{ index_active }}" href="{{ url_for('hello') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="btn {{ form_active }}" href="{{ url_for('form') }}">Predict</a>
                </li>
            </ul>
        </div>
    </nav>
    {% block content %}{% endblock %}
    <footer>
        <div class="container-fluid container-footer mt-5">
            <ul class="text-center" style="list-style-type:none; margin-bottom:0px; padding-bottom: 0px;">
                <li>
                    This tool is built by:
                </li>
                <li>
                    <br>
                </li>
                <li>
                    Andhika Yusup Maulana
                </li>
                <li>
                    Faisal Hanif
                </li>
                <li>
                    Muhammad Ariq Basyar
                </li>
                <li>
                    Nurul Srianda Putri
                </li>
            </ul>
        </div>
    </footer>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    {% block script %}{% endblock %}
</body>
</html>