{% extends 'base.html' %}
{% block title %}PriceMe: Predict Now!{% endblock %}
{% block head %}{% endblock %}
{% block body_attr %}{% endblock %}
{% block content %}

<div class="container">
    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="container">
            <div class="innerwhitebox">
                <h3>Connectivity</h3>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-check">
                            {{ form.three_g(class_="form-check-input") }}
                            {{ form.three_g.label }}
                        </div>
                        <div class="form-check">
                            {{ form.four_g(class_="form-check-input") }}
                            {{ form.four_g.label }}
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-check">
                            {{ form.dual_sim(class_="form-check-input") }}
                            {{ form.dual_sim.label }}
                        </div>
                        <div class="form-check">
                            {{ form.blue(class_="form-check-input") }}
                            {{ form.blue.label }}
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-check">
                            {{ form.wifi(class_="form-check-input") }}
                            {{ form.wifi.label }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="innerwhitebox">
                <h3>Screen Features</h3>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-check">
                            {{ form.touch_screen(class_="form-check-input") }}
                            {{ form.touch_screen.label }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form.sc_w.label }}
                            {{ form.sc_w(class_="form-control") }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form.px_width.label }}
                            {{ form.px_width(class_="form-control") }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form.sc_h.label }}
                            {{ form.sc_h(class_="form-control") }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form.px_height.label }}
                            {{ form.px_height(class_="form-control") }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="innerwhitebox">
                <h3>Performance</h3>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form.battery_power.label }}
                            {{ form.battery_power(class_="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.clock_speed.label }}
                            {{ form.clock_speed(class_="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.ram.label }}
                            {{ form.ram(class_="form-control") }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form.talk_time.label }}
                            {{ form.talk_time(class_="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.n_cores.label }}
                            {{ form.n_cores(class_="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.int_memory.label }}
                            {{ form.int_memory(class_="form-control") }}
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="container">
            <div class="innerwhitebox">
                <h3>Dimension</h3>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form.m_dep.label }}
                            {{ form.m_dep(class_="form-control", placeholder="depth in centimeter") }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form.mobile_wt.label }}
                            {{ form.mobile_wt(class_="form-control", placeholder="weight in gram") }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="innerwhitebox">
                <h3>Camera Features</h3>
                <div class="form-group">
                    {{ form.pc.label }}
                    {{ form.pc(class_="form-control", placeholder="resolution in megapixels") }}
                </div>
                <div class="form-group">
                    {{ form.fc.label }}
                    {{ form.fc(class_="form-control", placeholder="resolution in megapixels") }}
                </div>
            </div>
        </div>

        {{ form.submit(class_="btn btn-primary ml-5") }}
    </form>
</div>



{% endblock %}
{% block script %}{% endblock %}
