{% extends 'base.html' %}
{% block title %}PriceMe: HomePage{% endblock %}
{% block head %}{% endblock %}
{% block body_attr %}{% endblock %}
{% block content %}
<div class="container-fluid col-12">
    <div class="row">
        <div class="container col-md-6 pl-0 d-none d-lg-block">
            <img src="{{ url_for('static', filename='img/Abstract_Line.png') }}" alt="" id="abstractLine" class="img-fluid ">
            <img src="{{ url_for('static', filename='img/Pocket.png') }}" alt="" id="pocketphone" class="img-fluid">
        </div>
        <div class="container col-12 col-md-6 d-flex mt-5 mt-md-0">
            <div class="container d-flex flex-column container-opening">
                <p id="opening-text" class="top17">PriceMe is an accurate smartphone prediction tools built for non-coders.</p>
                <a href="{{ url_for('form') }}" class="btn btn-primary align-self-end mr-5" style="font-size: 27px;">Predict</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid d-flex flex-column align-items-center justify-content-center py-3">
    <h1 style="font-family: Bangers;">How Does It Works?</h1>
    <div class="container row py-2 d-flex">

        <div class="card mx-auto my-3 my-sm-0 p-3" style="width: 18rem;">
            <img class="card-img-top mx-auto" src="{{ url_for('static', filename='img/Survey.png') }}" alt="Survey image" style="width: 10rem;">
            <div class="card-body">
              <h5 class="card-title text-center">Choose Your Specifications</h5>  
            </div>
        </div>

        <img src="{{ url_for('static', filename='img/Arrow.png') }}" alt="" class="my-auto d-none d-lg-block" style="width: 2rem; height: 4rem;">
        
        <div class="card mx-auto my-3 my-sm-0 p-3" style="width: 18rem;">
            <img class="card-img-top mx-auto" src="{{ url_for('static', filename='img/Robot.png') }}" alt="Robot image" style="width: 10rem;">
            <div class="card-body">
              <h5 class="card-title text-center">Let Our Machine Learning Works For You</h5>
            </div>
        </div>

        <img src="{{ url_for('static', filename='img/Arrow.png') }}" alt="" class="my-auto d-none d-lg-block" style="width: 2rem; height: 4rem;">
        
        <div class="card mx-auto my-3 my-sm-0 p-3" style="width: 18rem;">
            <img class="card-img-top mx-auto" src="{{ url_for('static', filename='img/Prediction.png') }}" alt="Prediction image" style="width: 10rem;">
            <div class="card-body">
              <h5 class="card-title text-center">Enjoy Our Nearly Perfect Prediction</h5>
            </div>
        </div>
    </div> 
</div>

{% endblock %}
{% block script %}{% endblock %}

