{% extends 'base.html' %}
{% block title %}PriceMe: Predict Now!{% endblock %}
{% block head %}{% endblock %}
{% block body_attr %}{% endblock %}
{% block content %}

<div class="container">
    <h3 class="text-center">Your phone is:</h3>
    <h3 class="text-center">{{ result }}</h3>
</div>

{% endblock %}
{% block script %}{% endblock %}